---
layout: archive
title: "CV"
permalink: /cv/
author_profile: true
---

{% include base_path %}

<body>
  <iframe src="https://drive.google.com/file/d/1AxGLAaKbxQ5Y3CK8kLDCGIEG-rAxNJKV/preview" width="640" height="480" allow="autoplay">
  </iframe>  
  <!--<iframe src="/files/MariannaZhang_CV.pdf" width="100%" height="500px" marginwidth="0">
    </iframe>-->

  </br>

  <!-- See also: <a href="/files/MariannaZhang_CV_rejection.pdf">rejection CV</a> -->
  See also: <a href="https://drive.google.com/file/d/1iEQB3KuvP1EcozbmZgECXMYrdZYEX5A9/view?usp=sharing">rejection CV</a>
</body>

{% for post in site.CV %}
  {% include archive-single.html %}
{% endfor %}
